<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" /> 
    <title>AngularJS Filter</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <div class="container" style="margin-top: 60px;">

      <div ng-controller="SuperherosCtrl">
        <label>Search actors or characters</label><input type="text" ng-model="search">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Index</th>
            <th><a href="" ng-click="attr = 'name';">Actor</a></th>
            <th><a href="" ng-click="attr = 'character';">Character</a></th>
            <th>Operation</th>
          </tr>
           
            <td><!-- add $index--></td>
             
             
            <td><button class="btn btn-primary" ng-click="select(actor)">Select</button></td>
           
        </table>
        <h3>
          Character is <!--character-->. Actor is <!--name-->
        </h3>
      </div>
    </div>
  </body>
</html>
@@@
prompt: ng-repeat
run: {command: "undo"}
run: {command: "undo"}
run: {command: "undo"}
run: {command: "undo"}
moveTo: 24:10
type: <tr ng-repeat="actor in avengers.cast | filter:search | orderBy:attr ">
tooltip: ng-repeat loop through a collection. Here avengers.cast is an array. We can also pipe filter on to it to further customize.
moveTo: 26:12
type: <td>{{actor.name}}</td>
moveTo: 27:12
type: <td>{{actor.character}}</td>
tooltip: actor is the iterating object in the array. Here shows the two attributes -- name and character in each item.
moveTo: 29:10
type: </tr>
prompt: Try the search and orderBy filters


